name: MariaDB Tests

on:
  pull_request:

jobs:
  leia-tests:
    runs-on: ${{ matrix.os }}
    env:
      TERM: xterm
    strategy:
      fail-fast: false
      matrix:
        lando-version:
          - 3-slim
        os:
          - ubuntu-22.04
        node-version:
          - '18'
        leia-test:
          - examples/10.1
          - examples/10.2
          - examples/10.3
          - examples/10.4
          - examples/10.5
          - examples/10.6
          - examples/10.7
          - examples/10.8
          - examples/10.9
          - examples/10.10
          - examples/10.11
          - examples/11.0
          - examples/11.1
          - examples/11.2
          - examples/11.3
          - examples/custom
          - examples/tooling
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install node ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://registry.npmjs.org
          cache: npm
      - name: Install dependencies
        run: npm clean-install --production --prefer-offline --frozen-lockfile
      - name: Bundle Deps
        uses: lando/prepare-release-action@v3
        with:
          lando-plugin: true
          version: dev
          sync: false
      - name: Setup lando ${{ matrix.lando-version }}
        uses: lando/setup-lando@v3
        with:
          lando-version: ${{ matrix.lando-version }}
          config: |
            setup.skipCommonPlugins=true
            setup.plugins.@lando/mariadb=/home/runner/work/mariadb/mariadb
          telemetry: false
      - name: Run Leia Tests
        uses: lando/run-leia-action@v2
        with:
          leia-test: "./${{ matrix.leia-test }}/README.md"
          cleanup-header: "Destroy tests"
          shell: bash
          stdin: true
